DB_USER=internship_user
DB_PASSWORD=pass
DB_NAME=internship_db
SECRET_KEY=secret-key-here-change-in-production
REFRESH_SECRET_KEY=refresh-secret-key-here-change-in-production
FIRST_ADMIN_LOGIN=admin
FIRST_ADMIN_PASSWORD=pass